html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  background-color: #EDEADE !important;
}

.btn {
  text-transform: none;
}

select.paginator {
  display: block;
  height: inherit;
  padding: 0 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

ul.pagination {
  margin-bottom: 0;
}

.styled-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead {
    tr {
      background-color: #0d6efd;
      color: #ffffff;
      text-align: left;

      &:first-child {
        th {
          border-top-style: solid;

          &:first-child {
            border-top-left-radius: 10px;
            border-left: 3px solid #0d6efd;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-right: 3px solid #0d6efd;
          }
        }
      }

      &:last-child {
        th {
          &:first-child {
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }

  th, td {
    padding: 12px 15px;
  }

  tbody {
    tr {
      td {
        border-top: 3px solid #D9FAFF;
        border-bottom: 3px solid #D9FAFF;
      }

      &:first-child {
        td {
          border-top-style: solid;

          &:first-child {
            border-top-left-radius: 10px;
            border-left: 3px solid #D9FAFF;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-right: 3px solid #D9FAFF;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }

    tr:hover {
      background-color: #D9FAFF;

      td {
        border-top: 3px solid #B0F5FF;
        border-bottom: 3px solid #B0F5FF;
      }

      &:first-child td:first-child {
        border-left: 3px solid #B0F5FF;
      }

      &:first-child td:last-child {
        border-right: 3px solid #B0F5FF;
      }
    }

    tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    tr:last-of-type {
      border-bottom: 2px solid #0d6efd;
    }

    tr.active-row {
      font-weight: bold;
      color: #0d6efd;
    }
  }
}