<div class="bg-white border rounded-5">
    <section class="w-100 p-4">
        <h1>{{ title|trans({},'sidebar') }}</h1>
        {% if data is empty %}
            <div class="card text-dark bg-light mb-3">
                <div class="card-body">
                    <h5 style="text-align: center" class="card-title d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                        <div class="ms-2">No related data</div>
                    </h5>
                </div>
            </div>
        {% else %}
            <div class="datatable">
                <div class="datatable-inner table-responsive ps ps--active-x"
                     style="overflow: auto; position: relative;">
                    <table class=" styled-table">
                        <thead class="datatable-header">
                        <tr>
                            {% for header in this.getHeaders() %}
                                <th scope="col"><i data-mdb-sort="field_0"
                                                   class="datatable-sort-icon fas fa-arrow-up"></i>{{ header }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody class="datatable-body">
                        {% for row in data %}
                            <tr class="border border-info" scope="row" data-mdb-index="0">
                                {% for col in row %}
                                    <td data-mdb-field="field_0">{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-end">
                        <div class="d-flex">
                            <div class="align-self-center">Rows per page:</div>
                            <select class="paginator ms-2">
                                <option selected value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <ul class="pagination ms-2">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
</div>