{% extends 'main-base.html.twig' %}

{% block title %}
    {% trans from 'sidebar' %}module.users{% endtrans %}
{% endblock %}

{% block innerbody %}
    <div class="bg-white border rounded-5">
        <section class="w-100 p-4">
            test
        </section>
    </div>
{% endblock %}
